*
{
    margin: 0px auto;
    padding: 0px auto; 
   
}

#container{
    height: 1590px;
    width: 1600px;
    background-color: rgb(240,239,231);
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    /* border: 1px solid black; */
}
#header{
    height: 50px;
    width: 1450px;
    padding-top: 20px;
    word-spacing: 50px;
    /* border: 1px solid green; */
    display: flex;
    border-bottom: 2px solid rgb(212,211,205);
}
#headersides{
    text-decoration: none;
}
#headersides{
    text-decoration: none;
    word-spacing: 30px;
}
a:link {
    text-decoration: none;
    color: black;
}
#headercenter{
    word-spacing: 15px;

}
#body{
    height: 1500px;
    width: 1450px;
    /* border: 2px solid red; */
    margin-top: 20px;

}
h1{
    text-align: center;
}
#image{
    height: 650px;
    width: 500px;
    /* border: 2px solid blue; */
    margin-top: 30px;
}
img {
    border-radius: 4px;
    height: 100%;
    width: 100%;
    transition: all linear 0.7s; 
}
#blurb{
    height: 250px;
    width: 678px;
    /* border: 2px solid black; */
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    letter-spacing: .05rem;
    color: rgb(57,56,55);
}
p {
    line-height: 22px;

}
#contact{
    height: 300px;
    width: 678px;
    float: center;
    text-align: left;
    /* border: 2px solid black; */
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: .05rem;
    font-weight: 100;
    color: rgb(57,56,55);
}
#footer{
    height: 341px;
    width: 1594px;
    /* border: 2px solid black; */
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
}


#footer_left{
    height: 305px;
    width: 300px;
    /* border: 2px solid blue; */
    padding-top: 20px;
    
} 
#HorizontalList__Item{
    height: 100px;
    width: 100px;
}
a{
    width: 100px;
}
#footer_center{
    height: 305px;
    width: 425px;;
    /* border: 2px dashed red; */
    font-size: 15px;
    padding-top: 20px;

}
#footer_right{
    height: 305px;
    width: 350px;
    /* border: 2px solid green; */
    font-size: 15px;
    padding-top: 20px;
}
.fields{
    width: 250px;
    height: 35px;
    font-family: "Josefin Sans", sans-serif;
    border: 1px solid rgb(208,207,200);
}

.btn {
    background-color: black; /* Green */
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;

}

