<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maru_app/css/about.css' %}">
    <title>ABOUT</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');
        </style>
    <div id="container">
        <div id="header">
            <div id="headersides">
            <a href="/">SHOPS</a>
            <a href="/about">ABOUT</a>
            <a href="/notes">NOTES</a>
            <a href="/locations">LOCATIONS</a>
            </div>
            <div id="headercenter">
               <H2>MARU COFFEE</H2>
            </div>
            <div class="headersides">
                <!-- <form action='/account' method="Post"> -->
            <a href="/account">ACCOUNT</a>
            <a href="/search">SEARCH</a>
            <a href="/cart">CART</a>
            </div>
        </div>
        <div id="body">
            <h1>ABOUT</h1>
            <div id="image">
                {% load static %}
                <img src="{% static 'maru_app/images/about_photo.png'%}" alt="My Image">
            </div>
            <div id="blurb">
                <br>
                <br>
                <br>
                <p>Born from a love of process and everyday qualtiy, 
                    we are inspired by all things analog and the simplicity of good coffee. We believe that quality does not have to be austere 
                    and that tradition can be respected as well as re-imagined. Maru is made with intention, balance and a love for the ritual of 
                    a well-made coffee.</p>
            </div>
            <div id="contact">
                <br>
                TEAM
                <br>
                <br>

                <p>ROY ROBERTSON - Los Feliz Manager</p>
                <p>  ISSAC MASON - Head Roaster</p>
                <p> MATTEO ROBERTS - General Manager</p>
                <br>
                <br>
                <br>
                <p>KYU HO CHOI - Head Trainer</p>
            </div>
    </div>
    <div id="footer">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');
            </style>
        <div id="footer_left">
            CONNECT
            <br>
            <br>
            <br>
            <p><u>Facebook</u></p>
            <br>
            <p><u>Instagram</u></p>
        </div>
        <div id="footer_center">
            <p><b>COMPANY</b></p>
            <br>
            Privacy Policy
            <br>
            <br>
            Terms & Conditions
            <br>
            <br>
            Shipping & Return Policy
            <br>
            <br>
            Contact
        </div>
        <div id="footer_right">
            <p>NEWSLETTER<b></b></p>
            <br>

            <p>Subscribe to recieve updates, our notes and more.</p>
            <br>
            <br>

            <input class="fields" type="text" name="email" value="Enter your email address"></p>
            <br>
            <input class="btn" type="submit" value="SUBSCRIBE">
        </div>
    </div>
</div>
</body>
</html>