<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'maru_app/css/account.css' %}">

    <title>ACCOUNT - LOG IN</title>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');
        </style>
    <div id="container">
        <div id="header">
            <div id="headersides">
                <a href="/">SHOPS</a>
                <a href="/about">ABOUT</a>
                <a href="/notes">NOTES</a>
                <a href="/locations">LOCATIONS</a>
            </div>
            <div id="headercenter">
               <H2>MARU COFFEE</H2>
            </div>
            <div id="headersides">
                <a href="/account">ACCOUNT</a></p>
                <a href="/search">SEARCH</a></p>
                <a href="/cart">CART</a></p>
            </div>
        </div>
        <div id="body">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
           
            <br><br><br><br><br><br>
            <h2>LOGIN</h2>
            <br>
            <br>
            <p>Please enter your e-mail and password:</p>
            <br>
            <br>
            <br>
            <input class="fields" type="text" name="email" value="Email"></p>
            <br>
            <input class="fields" type="password" name="password" value="Password.">
            <br>
            <br>
            <input class="btn" type="submit" value="LOGIN">
            <br>
            <br>
            <br>
            <span>Don't have an account?</span>      <u>Create one.</u>
        </div>
    </div>
</body>
</html>